{% extends 'forms/_form.html' %}
{% load static %}
{% load quxform %}

{% block form_title %}{{ form_title }}{% endblock %}

<!-- form_body -->
{% block form_body %}
<form method="post">
  {% csrf_token %}

  {% include 'forms/bs5/_field.html' with changepassword=True needhelp=True %}

  <!-- submit -->
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-outline-primary py-2">
      {% if submit_btn_text %}
      {{ submit_btn_text }}
      {% else %}
      Submit
      {% endif %}
    </button>
  </div>
</form>

<div class="form-container text-muted mx-auto my-4">
  <a href="{% url 'qux_auth:signup' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
    New? Create an account
  </a>
</div>

{% endblock form_body %}
