{% extends "forms/_form.html" %}
{% load qux quxform %}
{% block form_title %}
    {{ title }}
{% endblock form_title %}
{% block form_body %}
    <form method="post">
        {% csrf_token %}
        {% include "forms/bs5/_field.html" %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary my-3">{{ submit_btn_text }}</button>
        </div>
        {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}" />{% endif %}
    </form>
    <div class="form-container text-muted mx-auto my-4">
        We’ll email you a magic link for a password‑free sign‑in.
        <br />
        Prefer to use your password? <a href="{% url "qux_auth:login" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
    class="text-primary font-weight-bold">Sign in with a password</a>.
    </div>
{% endblock form_body %}
