{% load quxform %}
{% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}

{% for field in form.visible_fields %}
  <!-- {{ field }} -->
  <div class="row form-group">
    <div class="col">
    {% if field|is_checkbox %}

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text foo-border pl-3" style="width: 44px;">
          {{ field }}
        </div>
      </div>
      <input type="text" class="form-control foo-border" value="{{ field.label|upper }}" readonly>
    </div>

    {% else %}
      {% if field.name == 'password' and changepassword %}
        <div class="bg-warning">
          <div class="d-inline-block float-end text-danger">
            <a href="/password-reset/" tabindex="-1">Forgot password?</a>
          </div>
        </div>
      {% endif %}

      {# Show Need Help? if the first attempt to login is unsuccessful #}
      {% if field.name == "username" and needhelp and form.non_field_errors %}
        <div class="bg-warning">
          <div class="d-inline-block float-end text-info text-danger">
            <a href="{% url 'qux_auth:support_request' %}">Need Help?</a>
          </div>
        </div>
      {% endif %}

      <label for="{{ field.id }}" class="form-label">
        {{ field.label }}

        {% if field.field.required %}
        <span style="color: red;">*</span>
        {% endif %}
      </label>

      {{ field }}

      {% if field.help_text %}
        <small class="input-tip-text text-muted">{{ field.help_text }}</small>
      {% endif %}

      {% for error in field.errors %}
        <small class="input-err-text text-muted">{{ error }}</small>
      {% endfor %}

    {% endif %}
    </div>
  </div>
{% endfor %}
