<meta name="application-name" content="{% block application_name %}{% endblock %}">
<meta name="apple-mobile-web-app-title" content="{% block apple_mobile_web_app_title %}{% endblock %}">
<meta name="theme-color" content="rgb(128, 128, 128)">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<meta name="keywords" content="{% block keywords %}{% endblock %}">
<link rel="icon" type="image/png" href="{% block icon %}{% endblock %}">
{% block favicon %}{% endblock favicon %}
{# Facebook Open Graph #}
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{% block og_url_prefix %}{% endblock %}{% block og_url %}{% endblock %}"/>
<meta property="og:site_name" content="{% block og_site_name %}{% endblock %}"/>
<meta property="og:title" content="{% block og_title_prefix %}{% endblock %}{% block og_title %}{% endblock %}"/>
<meta property="og:description" content="{% block og_description %}{% endblock %}"/>
<meta property="og:image" content="{% block og_image %}{% endblock %}"/>
{# Twitter Card #}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="{% block twitter_site %}{% endblock %}"/>
<meta name="twitter:site:id" content="{% block twitter_site_id %}{% endblock %}"/>
<meta name="twitter:title" content="{% block twitter_title_prefix %}{% endblock %}{% block twitter_title %}{% endblock %}"/>
<meta name="twitter:description" content="{% block twitter_description %}{% endblock %}"/>
<meta name="twitter:creator" content="{% block twitter_creator %}{% endblock %}"/>
<meta name="twitter:creator:id" content="{% block twitter_creator_id %}{% endblock %}"/>
<meta name="twitter:image" content="{% block twitter_image %}{% endblock %}"/>

