{% extends '_token.html' %}
{% load static %}
{% comment %} {% load fubar %} {% endcomment %}

{% block ralph_headings %}
<h1>Token Details</h1>
{% endblock %}

{% block ralph %}
<div class="my-4">
  <div class="row">
    <div class="col-12">
      <p class="p-2 text-danger border border-danger rounded-lg">This key is only shown ONCE. Make note of it and store it in a safe, secure location.</p>
    </div>

    <div class="col-12 my-3">
      <div>
      <label>Name</label>
      </div>
      <div class="p-2 border border-secondary rounded-lg">
        {{ object.name }}
      </div>
    </div>

    <div class="col-12 my-3">
      <div>
      <label>Key</label>
      </div>
      <div class="p-2 border border-danger rounded bg-danger text-white"
           style="font-family: 'Roboto Mono', monospace; font-size: 14px;">
        {{ object.key }}
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock ralph %}
