{% extends 'qux_auth.html' %}
{% load static %}
{% load quxform %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock stylesheets %}

{% block form_title %}{{ form_title }}{% endblock %}

<!-- form_body -->
{% block form_body %}
<form method="post">
  {% csrf_token %}

  {% include 'forms/_field.html' with changepassword=True %}

  <!-- submit -->
  <div class="row mt-4"><div class="col">
    <button type="submit" class="btn btn-outline-primary btn-block py-2">
      {% if submit_btn_text %}
      {{ submit_btn_text }}
      {% else %}
      Submit
      {% endif %}
    </button>
  </div></div>
</form>
{% endblock form_body %}
