<div>
  <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>
  <p>Please go to the following page and choose a new password:</p>

  <p><code style="color: #e83e8c; font-size: 0.9em; font-family: SFMono-Regular, Menlo, Monaco, 'Courier New', monospace">
    <a href="{{ protocol }}://{{ domain }}{% url 'qux_auth:password_reset_confirm' uidb64=uid token=token %}"
      style="text-decoration: none; color: inherit;">
    {{ protocol }}://{{ domain }}{% url 'qux_auth:password_reset_confirm' uidb64=uid token=token %}
    </a>
  </code></p>

  <p>Your username, in case you’ve forgotten:</p>
  <p>Thanks for using our site!</p>
  <p>The {{ site_name }} team</p>
</div>
