{% extends 'qux_auth.html' %}
{% load static quxform %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock stylesheets %}

{% block form_title %}Reset password{% endblock form_title %}

{% block form_body %}{% endblock form_body %}

{% block form_belowthefold %}
<p>Check your email for a link to reset your password.</p>

<p>Check the <b>spam</b> folder if you do not see the email within a few minutes of the request.</p>
{% endblock %}
