{% extends "forms/_form.html" %}
{% load static quxform %}
{% block form_title %}
    Set your password
{% endblock form_title %}
{% block form_body %}
    <form method="post">
        {% csrf_token %}
        <p>Please set your password to continue.</p>
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        {% for field in form.visible_fields %}
            <div class="mb-3">
                <label for="{{ field.id }}" class="form-label">
                    {{ field.label }}
                    {% if field.field.required %}<span style="color: red;">*</span>{% endif %}
                </label>
                {{ field }}
                {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
                {% for error in field.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}
            </div>
        {% endfor %}
        <div class="d-grid gap-2 pt-3">
            <button type="submit" class="btn btn-primary py-2">Save and continue</button>
        </div>
    </form>
{% endblock form_body %}
