@import url('fonts/inter.css');
@import url('fonts/roboto.css');
@import url('fonts/metropolis.css');
@import url('fonts/bootstrap-icons.min.css');

.font-inter {
    font-family: "Inter", sans-serif;
}
.font-roboto {
    font-family: "Roboto", sans-serif;
}
.font-metropolis {
    font-family: "Metropolis", sans-serif;
}